{
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "printWidth": 120,
  "semi": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none"
}