body {
  font-family: 'Ubuntu', sans-serif;
}

.auth-link {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 175, 244);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

// font
.font-small {
  font-size: 14px;
}

.font-large {
  font-size: 25px;
}

// space
.mt-8 {
  margin-top: 8px;
}
