.personal_wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.main_func_wrapper {
  display: flex;

  .main_func_wrapper__sidebar {
    width: 240px;
    background-color: #2f3136;
    height: 100vh;

    .searchbar {
      width: 100%;
      height: 48px;
      display: flex;
      padding: 10px;
      position: relative;
      box-shadow: -5px -2px 3px 2px #000;

      .search_btn {
        background-color: #202225;
        width: 100%;
        border-radius: 4px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .list__interactive {
      padding: 10px;
      height: calc(100% - 100px);
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
      &:hover::-webkit-scrollbar {
        width: 5px;
        display: block;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: rgb(0, 0, 0);
      }
      .list__dm {
        height: 100vh;
      }
    }

    .personal_controller {
      padding: 10px;
      height: 52px;
      background-color: #292b2f;
    }
  }

  .main_func_wrapper__content {
    flex: 1;
    height: 100vh;

    .topbar {
      width: 100%;
      height: 48px;
      display: flex;
      padding: 10px 16px;
      box-shadow: 5px -2px 3px 2px #000;
    }
  }
}
